<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotel.mapper.BusinessMapper">

	<select id="selectAllHotel" resultType="com.hotel.domain.BusinessVO">
		select *
		from co_info
		ORDER BY CO_CODE DESC
	</select>

 	
 	<select id="selectProductByCode" resultType="com.hotel.domain.BusinessVO">
 		SELECT * from co_info WHERE CO_CODE=#{co_code}
 	</select>

	<insert id="insertHotel" >
 		<selectKey keyProperty="co_code" order="BEFORE" resultType="Long">
 			select co_info_seq.nextval from dual
 		</selectKey>
 		insert into co_info(co_code, area_code3, co_title, co_type, co_name, co_number, updatedate, ro_type, ro_max, ro_price, ro_content) 
 		values(#{co_code}, #{area_code3}, #{co_title}, #{co_type}, #{co_name}, #{co_number}, sysdate, #{ro_type}, #{ro_max}, #{ro_price}, #{ro_content})
 	</insert>

<insert id="insert">
insert into co_info(co_code, area_code3, co_title, co_type, co_name, co_number, updatedate, ro_type, ro_max, ro_price, ro_content) 
 		values(#{co_code}, #{area_code3}, #{co_title}, #{co_type}, #{co_name}, #{co_number}, sysdate, #{ro_type}, #{ro_max}, #{ro_price}, #{ro_content})
	</insert> 
	
 	<update id="updateProduct">
 		update co_info
 			set co_title=#{co_title}, co_type=#{co_type}, area_code3=#{area_code3}, co_name=#{co_name}, co_number=#{co_number}, ro_type=#{ro_type}, ro_max=#{ro_max}, ro_price=#{ro_price}, ro_content=#{ro_content}
 		WHERE 
 			co_code=#{co_code}
 	</update>

 	<delete id="deleteHotel">
	delete from co_info where co_code=#{co_code} 
 	</delete>
</mapper>