<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.BusinessAttachMapper">
	<insert id="insert">
		insert into pic_info(uuid, uploadpath, filename, filetype, co_code)
		values(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{co_code})
	</insert>
	
	<select id="findByCode" resultType="com.hotel.domain.BusinessAttachVO">
		select * from pic_info where co_code=#{co_code}
	</select>
	
	<delete id="delete">
		delete from pic_info  where uuid=#{uuid}
	</delete>
	
	<delete id="deleteAll">
		delete from pic_info  where co_code=#{co_code}
	</delete>
	
	<select id="getOldFiles" resultType="com.hotel.domain.BusinessAttachVO">
		select * from pic_info  where co_code=#{co_code}
	</select>
</mapper>