<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.hotel.mapper.SearchMapper">
	
	<select id="gethotelList" resultType="com.hotel.domain.Room_infoVO">
	<![CDATA[
	select co.co_code, co.co_title,co.co_type, ro.ro_code,ro.co_code,ro.ro_name,ro.ro_type,ro.ro_price,ro.ro_content,ro.ro_max
	from co_info co, room_info ro
	where co.co_code = ro.co_code and co.co_type='1'
	]]>
	</select>
	
	<select id="getmotelList" resultType="com.hotel.domain.Room_infoVO">
	<![CDATA[
	select co.co_code, co.co_title,co.co_type, ro.ro_code,ro.co_code,ro.ro_name,ro.ro_type,ro.ro_price,ro.ro_content,ro.ro_max
	from co_info co, room_info ro
	where co.co_code = ro.co_code and co.co_type='2'
	]]>
	</select>
	
	<select id="getresortList" resultType="com.hotel.domain.Room_infoVO">
	<![CDATA[
	select co.co_code, co.co_title,co.co_type, ro.ro_code,ro.co_code,ro.ro_name,ro.ro_type,ro.ro_price,ro.ro_content,ro.ro_max
	from co_info co, room_info ro
	where co.co_code = ro.co_code and co.co_type='3'
	]]>
	</select>
	

	
</mapper>